<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientId" value="5d073e1b-b0cc-4fc3-80d2-274b906dd22e" />
    <add key="Tenant" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
    <add key="Instance" value="https://login.microsoftonline.com/" />
    <add key="SignalRHubUrl" value="https://jwafadev.azurewebsites.net/api" />
    <add key="FunctionAppUrl" value="https://jwafadev.azurewebsites.net/" />
  </appSettings>
</configuration>
