<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientId" value="89c7d6ac-586a-4dc8-bbc3-1c8952c2f757" />
    <add key="Tenant" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
    <add key="Instance" value="https://login.microsoftonline.com/" />
    <add key="Scope" value="api://89c7d6ac-586a-4dc8-bbc3-1c8952c2f757/publish" />
    <add key="SignalRNegotiateEndpoint" value="https://jweafadev.azurewebsites.net/api" />
    <add key="FunctionAppUrl" value="https://jweafadev.azurewebsites.net/" />
  </appSettings>
</configuration>
