# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

# All files
[*]
end_of_line = crlf

[*.{cs,xaml}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
# Set all category warnings as errors
dotnet_analyzer_diagnostic.category-Style.severity = error
dotnet_analyzer_diagnostic.category-Design.severity = error
dotnet_analyzer_diagnostic.category-Documentation.severity = error
dotnet_analyzer_diagnostic.category-Globalization.severity = error
dotnet_analyzer_diagnostic.category-Maintainability.severity = error
dotnet_analyzer_diagnostic.category-Naming.severity = error
dotnet_analyzer_diagnostic.category-Performance.severity = error
dotnet_analyzer_diagnostic.category-Publish.severity = error
dotnet_analyzer_diagnostic.category-Reliability.severity = error
dotnet_analyzer_diagnostic.category-Security.severity = error
dotnet_analyzer_diagnostic.category-Usage.severity = error
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.DocumentationRules.severity = error
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.LayoutRules.severity = error
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.MaintainabilityRules.severity = error
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.NamingRules.severity = error
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.OrderingRules.severity = error
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.ReadabilityRules.severity = error
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.SpacingRules.severity = error
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.SpecialRules.severity = error

# StyleCop IDE Rules
dotnet_diagnostic.IDE0008.severity = none
csharp_style_var_for_built_in_types = true:error
csharp_style_var_when_type_is_apparent = true:error
csharp_style_var_elsewhere = false:error
dotnet_style_prefer_conditional_expression_over_assignment = false:error
csharp_style_unused_value_expression_statement_preference = none

# StyleCop Analyzer Exclusions
dotnet_diagnostic.SA1101.severity = none
dotnet_diagnostic.SX1101.severity = error
dotnet_diagnostic.SA1200.severity = none
dotnet_diagnostic.SX1200.severity = error
dotnet_diagnostic.SA1208.severity = none
dotnet_diagnostic.SA1309.severity = none
dotnet_diagnostic.SX1309.severity = error
dotnet_diagnostic.SA1633.severity = none
